<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557452538037-u8sjofp4j87qar14e1g30dvtdggqm5cu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557452538037-u8sjofp4j87qar14e1g30dvtdggqm5cu</string>
	<key>API_KEY</key>
	<string>AIzaSyDcGlwp1UaghdNbmq1AmyVWUwhWcUqJK3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>557452538037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>application-5831e</string>
	<key>STORAGE_BUCKET</key>
	<string>application-5831e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557452538037:ios:a3516c43200e7d5dfe0efc</string>
	<key>DATABASE_URL</key>
	<string>https://application-5831e.firebaseio.com</string>
</dict>
</plist>